---
- name: Update ~/.npmrc 
  shell: |
    npm config set proxy {{ proxy_url }}
    npm config set https-proxy {{ proxy_url }}
  become_user: "{{ item }}"
  with_items: "{{ npm_users }}"
  tags: ['molecule-idempotence-notest']
